NEXT_PUBLIC_RPC_URL= # Example: https://localhost:8545
NEXT_PUBLIC_PROJECT_ID= # ProjectID from WalletConnect
NEXT_PUBLIC_ALCHEMY_KEY= # API key from Alchemy 
NEXT_PUBLIC_PROPOSAL_ID = # Proposal ID for the DAO
NEXT_PUBLIC_CONTRACT_ADDRESS = # The address of your deployed contract