@font-face {
  font-family: 'SharpGrotesk';
  src: url('../fonts/SharpGrotesk-LightItalic10.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Semibold.ttf') format('opentype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter-Italic.woff2') format('woff2'),
    url('../fonts/Inter.ttf') format('ttf');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
